html {
    box-sizing: border-box;
}

body {
    padding: 0;
    height: 100vh;
    background-color: beige;
}

div {
    width: 200px;
    height: 200px;
    padding: 50px;
    background-color:blue;
    box-sizing: border-box;
}